

.contact-type {
    vertical-align:top; 
    width:30%;
    p {
        font-weight:bold;
        margin: 0;
    }
}

.contact-field {
    vertical-align:top;
    width:70%;
    p {
        margin: 0;
    }
}